---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
---

<Layout title="Sarthak Kimtani">
  <div class="flex flex-col items-center">
    <Hero />
  </div>
</Layout>
