---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import "../styles/global.css";
---

<Layout title="Sarthak Kimtani">
  <div class="flex flex-col items-center">
    <Hero />
    <About />
    <Projects />
  </div>
</Layout>
