---
import Section from "./Section.astro";

import * as educationContent from "../content/education.md";
const { degrees } = educationContent.frontmatter;
---

<Section id="education" title="Education">
  {
    degrees.map((degree: Degree) => (
      <div class="mb-4 flex flex-col items-start">
        <h4 class="mb-2 text-lg font-semibold text-gray-800">{degree.title}</h4>
        <p class="text-base text-gray-500">{degree.university}</p>
        <p class="text-base text-gray-500">{degree.date}</p>
        <p class="my-2 text-base leading-relaxed text-gray-700">{degree.description}</p>
        <div class="my-4 h-[1px] w-full bg-gray-300" />
      </div>
    ))
  }
</Section>
