---
import { Image } from "astro:assets";
import NotAI from "../assets/not-ai.svg";
---

<footer
  class="mx-auto mt-20 flex w-11/12 flex-row items-center justify-between border-t border-gray-300 px-5 pt-10 pb-56 lg:w-3/4"
>
  <p class="lg:text-md text-sm font-medium text-gray-600">
    Sarthak Kimtani &copy; {new Date().getFullYear()}
  </p>
  <Image
    src={NotAI}
    class="w-24 lg:w-36"
    alt="Developed by Human, not AI"
    draggable={false}
  />
</footer>
