---
const { left, bottom } = Astro.props;

const horizontal = left ? "left-0" : "right-0";
const vertical = bottom ? "bottom-0" : "top-0";

const gradientSide = left
  ? bottom
    ? "bg-gradient-to-tr"
    : "bg-gradient-to-tl"
  : bottom
    ? "bg-gradient-to-tl"
    : "bg-gradient-to-tr";

const gradientColor = bottom
  ? "from-transparent from-20% to-40% to-white"
  : "from-white from-40% to-100% to-transparent";
---

<div
  class:list={[
    "pointer-events-none absolute z-[-10] h-auto w-1/2 bg-neutral-300",
    vertical,
    horizontal,
  ]}
>
  <div class:list={["absolute z-30 h-full w-full", gradientSide, gradientColor]}></div>
  <div
    class="flex h-full w-full flex-col divide-y divide-dashed divide-neutral-300 border-t border-l border-neutral-300"
  >
    {
      Array(6)
        .fill(0)
        .map(() => (
          <div class="relative flex h-[30px] w-full divide-x divide-dashed divide-neutral-300 sm:h-[45px] md:h-[60px] xl:h-[88px]">
            {Array(9)
              .fill(0)
              .map(() => (
                <div class="aspect-square h-auto w-full bg-white" />
              ))}
          </div>
        ))
    }
  </div>
</div>
