---
import NavIcon from "./NavIcon.astro";
---

<nav class="fixed top-0 z-50 flex w-full items-center justify-center">
  <div
    class="mt-6 flex h-16 flex-row items-center justify-center rounded-full bg-[#D6D6D6] px-6 drop-shadow-xl"
  >
    <NavIcon name="house" label="Home" href="#" />
    <NavIcon name="user" label="About" href="#about" />
    <NavIcon name="code" label="Projects" href="#projects" />
    <NavIcon name="education" label="Education" href="#education" />
    <NavIcon name="briefcase" label="Experience" />
    <NavIcon name="pie-chart" label="Skills" />
    <NavIcon name="mail" label="Social" />
  </div>
</nav>
