---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
import ProjectCard from "./ProjectCard.astro";

import * as projectContent from "../content/projects.md";
const { projects } = projectContent.frontmatter;
---

<Section id="projects" title="Projects">
  {projects.map((project: Project) => <ProjectCard project={project} />)}
  <a
    href="https://github.com/sarthakkimtani/"
    class="rounded-full border border-gray-700 px-4 py-2 text-lg text-gray-700 transition-all duration-200 hover:border-gray-900 hover:text-gray-900"
    target="_blank"
  >
    All Projects
    <Icon name="arrow-up-right" class="ml-1 inline-block text-gray-700" />
  </a>
</Section>
