---
import Section from "./Section.astro";
import Skill from "./Skill.astro";

import skillsContent from "../content/skills.json";

const { skills } = skillsContent;
---

<Section title="Technical Skills" id="skills">
  <div class="mb-2 flex flex-wrap gap-2">
    {skills.map((skill) => <Skill title={skill} />)}
  </div>
</Section>
