---
import Grid from "../components/Grid.astro";
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/figtree";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Sarthak Kimtani" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="w-full overflow-x-hidden">
    <Grid left={true} />
    <Grid left={false} />
    <Navbar />
    <slot />
  </body>
</html>
