---
import Grid from "../components/Grid.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/figtree";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Sarthak Kimtani" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portfolio of Sarthak Kimtani" />
    <meta name="keywords" content="Sarthak Kimtani, Web Developer, Software Engineer" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>

    <meta property="og:title" content="Sarthak Kimtani" />
    <meta property="og:description" content="Sarthak Kimtani's Website" />
    <meta property="og:image" content="/og-image.jpg" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@sarthakkimtani" />
    <meta name="twitter:title" content="Sarthak Kimtani's Website" />
    <meta name="twitter:creator" content="@sarthakkimtani" />
    <meta name="twitter:description" content="Portfolio of Sarthak Kimtani" />
    <meta name="twitter:image" content="/twitter-card.jpg" />
  </head>
  <body class="relative w-full overflow-x-hidden">
    <Grid left />
    <Grid />
    <Navbar />
    <slot />
    <Footer />
    <Grid left bottom />
    <Grid bottom />
  </body>
</html>
