---
import NavIcon from "../components/NavIcon.astro";
import "@fontsource-variable/figtree";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Sarthak Kimtani" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="w-full overflow-x-hidden">
    <nav class="flex items-center justify-center fixed w-full top-0 z-50">
      <div
        class="flex flex-row px-6 h-16 items-center justify-center bg-[#D6D6D6] rounded-full mt-6 drop-shadow-xl"
      >
        <NavIcon name="house" />
        <NavIcon name="user" />
        <NavIcon name="code" />
        <NavIcon name="briefcase" />
        <NavIcon name="pie-chart" />
        <NavIcon name="mail" />
      </div>
    </nav>
    <slot />
  </body>
</html>
